@model BaiTapLon.Models.Account

@{ ViewBag.Title = "Register";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<h2>Register</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="w3-round udCenter udWidth30 w3-animate-top">
        <div>
            <div class="w3-container">

                <div class="w3-card-4 w3-margin-top">
                    <header class="w3-cyan w3-center w3-container w3-round">
                        <h1>Đăng ký tài khoản cửa hàng</h1>
                    </header>

                    <div class="w3-container">
                        <div class="w3-row w3-margin-top ">
                            <label>UserName</label>
                            <input type="text" name="UserName" class="w3-input w3-border w3-round-large udMaxWidth30" placeholder="Enter Username" required" />
                        </div>
                        <div>
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        </div>
                        <div class="w3-row w3-margin-top">
                            <label>PassWord</label>
                            <input type="password" name="PassWord" class="w3-input w3-border w3-round-large udMaxWidth30" placeholder="Enter Password" required" />
                        </div>
                        <div>
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>

                        <footer class="w3-padding w3-border-light-gray w3-margin-top w3-margin-bottom">
                            <input type="submit" value="Login" class="w3-btn w3-white w3-border w3-border-blue-gray w3-round w3-card" />
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<p class=" w3-container w3-display-bottomleft">
    <img src="~/Images/QRCode_vna.png" alt="QRCode" style="width:40%" />
</p>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

