@{
    ViewBag.Title = "Home Page";
}
<meta charset="utf-8" />
<script src="https://kit.fontawesome.com/9799847932.js" crossorigin="anonymous"></script>
<div class="jumbotron">
    <h1 class="w3-text-pink"></h1>
    <div class="w3-animate-opacity">
        <img src="~/Background/z2978471762398_1d9f80fff1d02821f4af9988d2fad797.jpg" class="" style="width:100%" />
    </div>

    <br>
    <p class="lead">Dư Thái Sơn</p>
    <a href="https://www.facebook.com/profile.php?id=100009375749015" target="_blank"><i class="fab fa-facebook"> FaceBook </i></a>
    <br />
    <a href="https://www.instagram.com/son_dth1210/" target="_blank"><i class="fab fa-instagram"> Instagram </i></a>
</div>